.vs/
AbstractFactory/obj/
AbstractFactory/bin/
Adapter/obj/
Adapter/bin/
Decorator/obj/
Decorator/bin/
IoCDIExample1/obj/
IoCDIExample1/bin/
IoCDIExample2/obj/
IoCDIExample2/bin/
IoCDIExample3/obj/
IoCDIExample3/bin/
Mediator/obj/
Mediator/bin/
Observer/obj/
Observer/bin/
Singleton/obj/
Singleton/bin/